:root {
	--light:rgb(248, 241, 227);
	--dark: rgb(79, 50, 28);
	--subhead: rgba(79, 50, 28, 0.72);
}

* {
	box-sizing: border-box;
	color: var(--dark);
}

html {
	font-size: 100%;
	border-style: solid;
	border-width: 0;
	border-color: var(--dark);
}

html, button, input {
	font-family: sans-serif;
}

body {
	font-size: 1em;
	background-color: var(--light);
	margin: 0;
	max-width: 800px;
	padding: 0 20px 20px 20px;
	line-height: 1.6rem;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-weight: bold;
	font-size: 1.95552rem;
	line-height: 1.2141rem;
	margin-bottom: 0.5rem;
}

h2 {
	color: var(--subhead);
	font-size: 1.5rem;
	font-weight: bold;
}


p {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

img {
	width: 100%;
}

pre {
	overflow: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}